<div class="panel panel-default">

  <!-- Panel heading !-->
  <div class="panel-heading clearfix">
    {{> panelSettings}}
    <span data-toggle="collapse" data-target=".{{name}}">
      {{name}}
    </span>
  </div>

  <!-- Panel contents !-->
  <div class="panel-collapse collapse in {{name}}">
    <div class="panel-body">
      <div>
        <input class="btn-visibility" data-size="small" id="{{name}}" type="checkbox" checked data-toggle="toggle" data-on="Show" data-off="Hide">
      </div>
      {{> sourceList}}
      {{> sourceUpload}}
    </div>
  </div>
</div>
