<div class="panel panel-default collection-{{name}}">

  <!-- Panel heading !-->
  <div class="panel-heading clearfix">
    {{> panelSettings}}
    <span data-toggle="collapse" data-target=".{{name}}">
      {{name}}
    </span>
  </div>

  <!-- Panel contents !-->
  <div class="panel-collapse collapse in {{name}}">
    <div class="panel-body">
      {{> sourceList}}
      {{> sourceUpload}}
      {{> modelUpload}}
    </div>
  </div>
</div>
