<div class="panel panel-default">

  <!-- Panel heading !-->
  <div class="panel-heading clearfix">
    {{> panelSettings}}
    <span data-toggle="collapse" data-target=".{{file}}">
      {{file}}
    </span>
  </div>

  <!-- Panel contents !-->
  <div class="panel-collapse collapse in {{file}}">
    <div class="panel-body">
      <div>
        <input class="btn-visibility" data-size="small" id="{{file}}" type="checkbox" checked data-toggle="toggle" data-on="Show" data-off="Hide">
      </div>

      <div id="sourcelist">
        <h5>Data within this collection:</h5>
        <ul>
          <li>Example item #1</li>
        </ul>

        <!-- Edit collection form !-->
        {{> sourceUpload}}

        <button type="button" class="btn btn-success btn-xs pull-right">
          <i class="fa fa-plus pull-left"></i>New source
        </button>
      </div>

    </div>
  </div>
</div>
