<div class="form-group">
  <div class='input-group date timepicker' id="{{id}}">
    <span class="input-group-addon">{{label}}</span>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
  </div>
</div>
