<div class="panel-group" id="history-panel">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4>Track History</h4>
    </div>

    <div class="panel-collapse" id="history-slider-body">
      <div class="panel-body">
        <div id="history-slider"></div>
      </div>
    </div>
  </div>
</div>
