<div class="panel panel-default newCollection">
  <form>
    <!-- Panel contents !-->
    <div class="panel-body">
      <input type="text" class="form-control" name="collectionName" placeholder="Enter a name for the new collection...">
      <button type="button" class="btn btn-cancelCollection btn-danger pull-left">
        <i class="fa fa-remove pull-left"></i>Cancel
      </button>

      <button type="button" class="btn btn-submitCollection btn-success pull-right">
        <i class="fa fa-check pull-left"></i>Create
      </button>
    </div>
    <div class="errorMessage alert alert-danger collapse" role="alert">...</div>
  </form>
</div>
