<form>
  <div class="panel-group">
    <div class="panel panel-default newCollection">
      <div class="panel-heading clearfix">
        <h4>New Collection</h4>
      </div>

      <div class="panel-collapse">
        <div class="panel-body">
          <input type="text" class="form-control" name="collectionName" placeholder="Enter a name for the new collection...">
          <br>
          <button type="button" class="btn btn-cancelCollection btn-danger navbar-left">
            <i class="fa fa-remove pull-left"></i>Cancel
          </button>

          <button type="submit" class="btn btn-submitCollection btn-success navbar-right">
            <i class="fa fa-check pull-left"></i>Create
          </button>
        </div>
      </div>
      <div class="errorMessage alert alert-danger collapse" role="alert">...</div>
    </div>
  </div>
</form>
