<div class="input-group">
  <div class='input-group numberpicker'>
    <span class="input-group-addon">{{label}}</span>
    <input type="number" name="quantity" class="form-control" id="{{id}}">
    <span class="input-group-addon">{{unit}}</span>
  </div>
</div>
