<!-- Edit collection form !-->
<form class="addSource {{file}}">
  <div class="input-group">
    <span class="input-group-addon">
      <!-- Data type select box !-->
      <select class="selectmenu" id="sourcetype">
        <option value="file">File</option>
        <option value="stream">Stream</option>
      </select>
    </span>
    <!-- Browse file button !-->
    <input type="text" class="form-control" readonly>
    <span class="input-group-btn">
      <span class="btn btn-default btn-file">
        <i class="fa fa-folder"></i>
        <input type="file" name="file">
      </span>
    </span>
    <span class="input-group-btn">
      <span class="btn btn-default btn-upload">
        <i class="fa fa-upload"></i>
      </span>
    </span>
  </div>
</form>
