<div id="sourceList-{{name}}">
  <h4>Data within this collection:</h4>
  <ul class="list-group">
    {{#unless sources}}
      <li class="list-group-item">
        This collection does not contain any data.
      </li>
    {{/unless}}
    {{#each sources}}
      <li class="list-group-item">
        {{this}}
        <button type="button" class="btn btn-deleteSource btn-danger btn-xs pull-right">
          <i class="fa fa-trash"></i>
        </button>
      </li>
    {{/each}}
  </ul>
</div>
